{% extends 'base.html' %}
{% block content %}

    <h1>Contact</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-sm-6 col-12">
                    <form method="POST">{% csrf_token %}
                        <input class="form-control" type="text" placeholder="Name" name='fullname'>
                        <input class="form-control" type="text" placeholder="Email" name='email'>
                        <textarea class="form-control" placeholder="content" name="content"></textarea>
                        <button class="btn btn-default" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
